In [61]:
#Setting up environment

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
#Loading data

df = pd.read_csv('C:/Users/lucyf/Coding/Homelessness reasons/A2P_202212.csv')
df.head(30)

,"Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,End of private rented tenancy - assured shorthold,NaN,NaN,NaN,...,NaN,NaN,Eviction from supported housing,NaN,NaN,NaN,NaN,Left institution with no accommodation available,Required to leave accommodation provided by Ho...,Other reasons / not known6
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Number of households
2,NaN,NaN,NaN,NaN,Total owed a prevention duty1,NaN,End of assured shorthold (AST) private rented ...,NaN,NaN,NaN,...,NaN,NaN,"Eviction from supported housing, due to..",NaN,NaN,NaN,NaN,Left institution with no accommodation available,Required to leave accommodation provided by Ho...,Other reasons / not known5
3,NaN,NaN,NaN,NaN,NaN,NaN,Total end\n of AST,NaN,Of which:,NaN,...,NaN,NaN,Total evicted from supported housing,Of which:,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rent arrears, due to..",NaN,...,Other reasons / not known3,NaN,NaN,Rent arrears,"Breach of tenancy or licence, not related to r...",Other reasons / not known4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tenant difficulty budgeting or making other pa...,Increase\n in rent �,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,E92000001,ENGLAND,NaN,NaN,"31,800",NaN,"11,790",NaN,670,170,...,390,NaN,"1,200",110,390,690,NaN,680,670,"1,640"
7,E12000007,London,NaN,NaN,"5,850",NaN,"2,420",NaN,120,50,...,60,NaN,130,10,40,90,NaN,60,90,330
8,-,Rest of England,NaN,NaN,"25,950",NaN,"9,370",NaN,550,120,...,330,NaN,"1,060",100,360,600,NaN,620,580,"1,300"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,E12000001,North East,NaN,NaN,"2,320",NaN,580,NaN,60,0,...,40,NaN,90,10,40,40,NaN,50,140,130
11,E12000002,North West,NaN,NaN,"4,350",NaN,"1,570",NaN,50,20,...,50,NaN,130,10,40,90,NaN,110,160,180
12,E12000003,Yorkshire and The Humber,NaN,NaN,"3,420",NaN,"1,060",NaN,80,10,...,60,NaN,190,10,60,120,NaN,120,120,120
13,E12000004,East Midlands,NaN,NaN,"2,550",NaN,"1,030",NaN,60,10,...,40,NaN,110,10,40,60,NaN,70,50,80
14,E12000005,West Midlands,NaN,NaN,"2,590",NaN,820,NaN,30,10,...,20,NaN,130,10,40,80,NaN,30,30,210
15,E12000006,East of England,NaN,NaN,"3,160",NaN,"1,210",NaN,90,10,...,40,NaN,130,10,30,80,NaN,50,30,160
16,E12000007,London,NaN,NaN,"5,850",NaN,"2,420",NaN,120,50,...,60,NaN,130,10,40,90,NaN,60,90,330
17,E12000008,South East,NaN,NaN,"4,860",NaN,"1,940",NaN,140,40,...,50,NaN,160,30,60,70,NaN,130,40,260
18,E12000009,South West,NaN,NaN,"2,710",NaN,"1,150",NaN,50,20,...,40,NaN,130,20,50,50,NaN,70,10,160
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,E07000223,Adur,NaN,NaN,9,NaN,6,NaN,0,0,...,0,NaN,0,0,0,0,NaN,0,0,0
21,E07000026,Allerdale,NaN,NaN,49,NaN,13,NaN,0,1,...,3,NaN,1,0,1,0,NaN,1,0,5
22,E07000032,Amber Valley,NaN,NaN,63,NaN,21,NaN,1,0,...,0,NaN,3,2,0,1,NaN,1,0,2
23,E07000224,Arun,NaN,NaN,84,NaN,40,NaN,3,0,...,2,NaN,4,0,1,3,NaN,0,1,1
24,E07000170,Ashfield,NaN,NaN,51,NaN,31,NaN,1,0,...,0,NaN,0,0,0,0,NaN,1,0,2
25,E07000105,Ashford,NaN,NaN,86,NaN,38,NaN,1,2,...,0,NaN,0,0,0,0,NaN,2,0,7
26,E07000200,Babergh,NaN,NaN,55,NaN,17,NaN,3,0,...,2,NaN,0,0,0,0,NaN,0,0,5
27,E09000002,Barking & Dagenham,NaN,NaN,159,NaN,45,NaN,1,0,...,0,NaN,1,0,0,1,NaN,3,12,5
28,E09000003,Barnet,NaN,NaN,243,NaN,128,NaN,3,1,...,0,NaN,2,0,0,2,NaN,3,0,19
29,E08000016,Barnsley,NaN,NaN,78,NaN,34,NaN,4,0,...,2,NaN,10,0,4,6,NaN,1,2,0

In [63]:
df.tail(30)

,"Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
315,E08000010,Wigan,NaN,NaN,276,NaN,98,NaN,3,1,...,4,NaN,6,0,3,3,NaN,1,27,8
316,E06000054,Wiltshire,NaN,NaN,165,NaN,41,NaN,0,0,...,4,NaN,6,0,3,3,NaN,1,1,12
317,E07000094,Winchester,NaN,NaN,60,NaN,17,NaN,2,0,...,1,NaN,1,0,1,0,NaN,3,0,2
318,E06000040,Windsor & Maidenhead,NaN,NaN,31,NaN,10,NaN,0,0,...,0,NaN,0,0,0,0,NaN,0,0,1
319,E08000015,Wirral,NaN,NaN,99,NaN,43,NaN,2,0,...,0,NaN,2,0,0,2,NaN,6,0,3
320,E07000217,Woking,NaN,NaN,41,NaN,21,NaN,0,0,...,1,NaN,0,0,0,0,NaN,1,0,9
321,E06000041,Wokingham,NaN,NaN,41,NaN,15,NaN,0,1,...,0,NaN,1,0,0,1,NaN,0,0,0
322,E08000031,Wolverhampton,NaN,NaN,..,NaN,..,NaN,..,..,...,..,NaN,..,..,..,..,NaN,..,..,..
323,E07000237,Worcester,NaN,NaN,74,NaN,17,NaN,0,1,...,0,NaN,2,0,0,2,NaN,0,0,4
324,E07000229,Worthing,NaN,NaN,32,NaN,21,NaN,1,0,...,0,NaN,5,0,0,5,NaN,0,0,0
325,E07000238,Wychavon,NaN,NaN,35,NaN,14,NaN,0,0,...,0,NaN,1,0,1,0,NaN,0,0,14
326,E07000128,Wyre,NaN,NaN,58,NaN,20,NaN,1,1,...,0,NaN,1,0,1,0,NaN,0,1,5
327,E07000239,Wyre Forest,NaN,NaN,28,NaN,13,NaN,0,0,...,0,NaN,4,0,0,4,NaN,0,0,1
328,E06000014,York,NaN,NaN,112,NaN,38,NaN,1,1,...,0,NaN,6,0,4,2,NaN,4,0,1
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,1,The outcome of the assessment whether the appl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,2,Includes rent arrears due to change in persona...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,3,"Includes tenant abandoned property, other or n...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,4,Includes no longer eligible for supported hous...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,5,"Includes fire / flood / other emergency, left ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,"Totals include estimates for Boston, Brent, Ca...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,Totals may not equal the sum of components bec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,..,incomplete or no data received from the local ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,Source,DLUHC H-CLIC Homelessness returns (quarterly),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,NaN,email: homelessnessstats@levellingup.gov.uk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,NaN,Latest update: May 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,Next update: Summer 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Removing header rows at the top
df.drop(df.index[:6], inplace=True)

#Removing notes rows at the bottom
df.drop(df.index[323:], inplace=True)

#Resetting index
df = df.reset_index(drop=True)

In [65]:
df.tail(20)

,"Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
303,E07000127,West Lancashire,NaN,NaN,25,NaN,14,NaN,0,0,...,0,NaN,0,0,0,0,NaN,1,0,3
304,E07000142,West Lindsey,NaN,NaN,73,NaN,26,NaN,4,1,...,2,NaN,3,1,1,1,NaN,0,0,3
305,E06000062,West Northamptonshire,NaN,NaN,214,NaN,64,NaN,4,1,...,1,NaN,22,2,4,16,NaN,31,0,5
306,E07000181,West Oxfordshire,NaN,NaN,31,NaN,4,NaN,0,0,...,0,NaN,0,0,0,0,NaN,2,0,4
307,E07000245,West Suffolk,NaN,NaN,60,NaN,27,NaN,1,1,...,1,NaN,1,0,0,1,NaN,0,0,6
308,E09000033,Westminster,NaN,NaN,128,NaN,93,NaN,3,1,...,4,NaN,1,0,0,1,NaN,0,0,12
309,E08000010,Wigan,NaN,NaN,276,NaN,98,NaN,3,1,...,4,NaN,6,0,3,3,NaN,1,27,8
310,E06000054,Wiltshire,NaN,NaN,165,NaN,41,NaN,0,0,...,4,NaN,6,0,3,3,NaN,1,1,12
311,E07000094,Winchester,NaN,NaN,60,NaN,17,NaN,2,0,...,1,NaN,1,0,1,0,NaN,3,0,2
312,E06000040,Windsor & Maidenhead,NaN,NaN,31,NaN,10,NaN,0,0,...,0,NaN,0,0,0,0,NaN,0,0,1
313,E08000015,Wirral,NaN,NaN,99,NaN,43,NaN,2,0,...,0,NaN,2,0,0,2,NaN,6,0,3
314,E07000217,Woking,NaN,NaN,41,NaN,21,NaN,0,0,...,1,NaN,0,0,0,0,NaN,1,0,9
315,E06000041,Wokingham,NaN,NaN,41,NaN,15,NaN,0,1,...,0,NaN,1,0,0,1,NaN,0,0,0
316,E08000031,Wolverhampton,NaN,NaN,..,NaN,..,NaN,..,..,...,..,NaN,..,..,..,..,NaN,..,..,..
317,E07000237,Worcester,NaN,NaN,74,NaN,17,NaN,0,1,...,0,NaN,2,0,0,2,NaN,0,0,4
318,E07000229,Worthing,NaN,NaN,32,NaN,21,NaN,1,0,...,0,NaN,5,0,0,5,NaN,0,0,0
319,E07000238,Wychavon,NaN,NaN,35,NaN,14,NaN,0,0,...,0,NaN,1,0,1,0,NaN,0,0,14
320,E07000128,Wyre,NaN,NaN,58,NaN,20,NaN,1,1,...,0,NaN,1,0,1,0,NaN,0,1,5
321,E07000239,Wyre Forest,NaN,NaN,28,NaN,13,NaN,0,0,...,0,NaN,4,0,0,4,NaN,0,0,1
322,E06000014,York,NaN,NaN,112,NaN,38,NaN,1,1,...,0,NaN,6,0,4,2,NaN,4,0,1

In [66]:
#Checking the total number of rows in the dataset
df.shape[0]

323

In [67]:
#Checking how many null values per column, at this point looking for blank columns where all values are null
df.isnull().sum()

Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022      2
Unnamed: 1                                                                                                                                                  2
Unnamed: 2                                                                                                                                                323
Unnamed: 3                                                                                                                                                323
Unnamed: 4                                                                                                                                                  2
Unnamed: 5                                                                                                                                                323
Unnamed: 6                                                                                                                                                  2
Unnamed: 7                                                                                                                                                323
Unnamed: 8                                                                                                                                                  2
Unnamed: 9                                                                                                                                                  2
Unnamed: 10                                                                                                                                                 2
Unnamed: 11                                                                                                                                                 2
Unnamed: 12                                                                                                                                                 2
Unnamed: 13                                                                                                                                               323
Unnamed: 14                                                                                                                                                 2
Unnamed: 15                                                                                                                                                 2
Unnamed: 16                                                                                                                                                 2
Unnamed: 17                                                                                                                                                 2
Unnamed: 18                                                                                                                                                 2
Unnamed: 19                                                                                                                                                 2
Unnamed: 20                                                                                                                                               323
Unnamed: 21                                                                                                                                                 2
Unnamed: 22                                                                                                                                                 2
Unnamed: 23                                                                                                                                                 2
Unnamed: 24                                                                                                                                                 2
Unnamed: 25                                                                                                                                                 2
Unnamed: 26                                                                                                                                               323
Unnamed: 27                                                                                                                                                 2
Unnamed: 28                                                                                                                                                 2
Unnamed: 29                                                                                                                                                 2
Unnamed: 30                                                                                                                                                 2
Unnamed: 31                                                                                                                                               323
Unnamed: 32                                                                                                                                                 2
Unnamed: 33                                                                                                                                                 2
Unnamed: 34                                                                                                                                                 2
Unnamed: 35                                                                                                                                                 2
Unnamed: 36                                                                                                                                               323
Unnamed: 37                                                                                                                                                 2
Unnamed: 38                                                                                                                                                 2
Unnamed: 39                                                                                                                                                 2
dtype: int64

In [68]:
#Dropping spacer columns where all values are null

blank_columns = df.columns[df.isnull().sum() == df.shape[0]].tolist()
df.drop(blank_columns, axis=1, inplace=True)

df.head()

,"Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022",Unnamed: 1,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,E92000001,ENGLAND,"31,800","11,790",670,170,210,200,640,200,...,"1,000",110,390,"1,200",110,390,690,680,670,"1,640"
1,E12000007,London,"5,850","2,420",120,50,20,110,100,20,...,280,10,60,130,10,40,90,60,90,330
2,-,Rest of England,"25,950","9,370",550,120,190,100,540,170,...,720,100,330,"1,060",100,360,600,620,580,"1,300"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E12000001,North East,"2,320",580,60,0,10,10,30,10,...,50,0,40,90,10,40,40,50,140,130

In [69]:
#Dropping spacer rows, where Unnamed:1 (local authority) column is null

df.dropna(subset=['Unnamed: 1'], axis=0, inplace=True)
df = df.reset_index(drop=True)

df.head()

,"Table A2P - Number of households owed a prevention duty by reason for loss, or threat of loss, of last settled home\nEngland, October to December 2022",Unnamed: 1,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,E92000001,ENGLAND,"31,800","11,790",670,170,210,200,640,200,...,"1,000",110,390,"1,200",110,390,690,680,670,"1,640"
1,E12000007,London,"5,850","2,420",120,50,20,110,100,20,...,280,10,60,130,10,40,90,60,90,330
2,-,Rest of England,"25,950","9,370",550,120,190,100,540,170,...,720,100,330,"1,060",100,360,600,620,580,"1,300"
3,E12000001,North East,"2,320",580,60,0,10,10,30,10,...,50,0,40,90,10,40,40,50,140,130
4,E12000002,North West,"4,350","1,570",50,20,20,20,90,30,...,120,20,50,130,10,40,90,110,160,180

In [70]:
#Renaming columns

df.columns=['ONS_code', 'local_authority', 'total_prevention_duty', 'AST_total', 'AST_arrears_budgeting', 'AST_arrears_rent_increase', 'AST_arrears_employment_reduction', 'AST_arrears_benefit_reduction', 'AST_arrears_personal_circs', 'AST_breach', 'AST_LL_sell_relet', 'AST_disrepair_complaint', 'AST_illegal_eviction', 'AST_abandoned', 'AST_other', 'non_AST_private_let', 'family_friends', 'relationship_breakdown', 'domestic_violence', 'other_violence', 'social_total', 'social_arrears', 'social_breach', 'social_other', 'supported_total', 'supported_arrears', 'supported_breach', 'supported_other', 'institution', 'asylum_accommodation', 'other']

In [75]:
#Rows 0-11 are large areas rather than single local authorities, so they will skew my analysis

#Saving these rows to a separate dataframe in case I want to use them later
region_df = df[:12]

#Then dropping them from the main dataframe
df = df[12:]
df = df.reset_index(drop=True)

,ONS_code,local_authority,total_prevention_duty,AST_total,AST_arrears_budgeting,AST_arrears_rent_increase,AST_arrears_employment_reduction,AST_arrears_benefit_reduction,AST_arrears_personal_circs,AST_breach,...,social_arrears,social_breach,social_other,supported_total,supported_arrears,supported_breach,supported_other,institution,asylum_accommodation,other
0,E07000223,Adur,9,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,E07000026,Allerdale,49,13,0,1,1,1,0,0,...,1,0,3,1,0,1,0,1,0,5
2,E07000032,Amber Valley,63,21,1,0,0,0,0,1,...,0,0,0,3,2,0,1,1,0,2
3,E07000224,Arun,84,40,3,0,0,0,0,1,...,4,0,2,4,0,1,3,0,1,1
4,E07000170,Ashfield,51,31,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,2

In [ ]:
#Creating function for all the above steps 

def strip_rename(df):
    df.drop(df.index[:6], inplace=True)
    df.drop(df.index[323:], inplace=True)
    blank_columns = df.columns[df.isnull().sum() == df.shape[0]].tolist()
    df.drop(blank_columns, axis=1, inplace=True)
    df.dropna(subset=['Unnamed: 1'], axis=0, inplace=True)
    df.columns=['ONS_code', 'local_authority', 'total_prevention_duty', 'AST_total', 'AST_arrears_budgeting', 'AST_arrears_rent_increase', 'AST_arrears_employment_reduction', 'AST_arrears_benefit_reduction', 'AST_arrears_personal_circs', 'AST_breach', 'AST_LL_sell_relet', 'AST_disrepair_complaint', 'AST_illegal_eviction', 'AST_abandoned', 'AST_other', 'non_AST_private_let', 'family_friends', 'relationship_breakdown', 'domestic_violence', 'other_violence', 'social_total', 'social_arrears', 'social_breach', 'social_other', 'supported_total', 'supported_arrears', 'supported_breach', 'supported_other', 'institution', 'asylum_accommodation', 'other']
    region_df = df[:12]
    df = df[12:]
    df = df.reset_index(drop=True)
    return region df, df